*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    Background: #F9D9D2;
    margin: 0;
    font-size: 1rem;
    line-height:1.5;
    color: black;
    overflow-x: hidden;
}
.landing{
    overflow: hidden;
    position: absolute;
}
.card {
    z-index: 2;
    align-items: center;
    text-align: center;
    padding-top: 12rem;
    height: 50%;
}