<div class="card" style="width: 18rem;">
  <img src="/images/widow.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">YOU HAVE A HERO!</h5>
    <p class="card-text"><strong>Hero's Name: -</strong>    $heroName</p>
    <p class="card-text"><strong>Hero's Age: -</strong>    $heroAge</p>
    <p class="card-text"><strong>Hero's Special Power: -</strong>    $specialPower</p>
    <p class="card-text"><strong>Hero's Weakness: -</strong>    $weakness</p>
  </div>
</div>