<div class="card" style="width: 18rem;">
  <img src="https://kidscreen.com/wp/wp-content/uploads/2017/02/Guardians-Galaxy.jpg" class="card-img-top" alt="...">
  <div class="card-body">
        <h5 class="card-title">CHECK OUT YOUR SQUAD!</h5>
        <p class="card-text"><strong>Squad Name: -</strong>    $squadName</p>
        <p class="card-text"><strong>Squad Size: -</strong>    $squadSize</p>
        <p class="card-text"><strong>Squad Cause: -</strong>    $squadCause</p>
  </div>
</div>